/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    top: 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #575757;
    color: #fff;
}

.navbar.scrolled {
    background-color: #222;
}
